#main-container[b-kqscipriya]{
    width: 50%;
}

#base-ip[b-kqscipriya] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

#subnets[b-kqscipriya] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#subnet-number[b-kqscipriya] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 2 100%;
    align-items: flex-start;
    gap: 45px;
}

#submit-btn[b-kqscipriya] {
    margin: 2vh 0;
    display: flex;
    justify-content: center;
}