@page "/"
@using Subnetting_Calculator.Models;
@inject IJSRuntime JSRuntime

<PageTitle>Subnetting Calculator</PageTitle>

<div id="liveAlert"></div>
<div id="main-container" class="container border rounded w-50 ">
	<div id="base-ip" class="row">
		<div class="col-md-3 fw-bold">
			<p>Base IP</p>
		</div>
		<div class="col-md-3">
			<input type="text" id="base-ip-value" placeholder="xxx.xxx.xxx.xxx/XX"/>
		</div>
	</div>
	<div id="subnets" class="row">
		<div id="subnet-title" class="col-md-3 d-flex align-items-center fw-bold">
			<p>Subnets</p>
		</div>
		<div id="subnet-container" class="col-md-3 w-50">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					@for(int i = 1; i <= SubnetNumber; i++)
					{
						<tr>
							<td class="w-25"><input type="text" value="LAN @i" readonly/></td>
							<td><input type="number" min="1" class="size" placeholder="20" style="width:50px"/></td>
						</tr>
					}
				</tbody>
			</table>

		</div>
		
	</div>
	<div id="subnet-number" class="row" style="margin-top: 1vh">
		<div class="col-md-3 fw-bold">
			<p> Number of subnets</p>
		</div>
		<div class="col-md-5">
			<input type="number" min="1" @bind="SubnetNumber" />
		</div>
		<div class="col-md-3">
			<input type="checkbox" @bind="Vlsm" class="form-check-input" id="flexCheckChecked" />
			<label class="form-check-label" for="flexCheckChecked">
				VLSM
			</label>
		</div>
	</div>
	<div id="submit-btn" class="d-flex flex-column flex-wrap align-content-center">
		
		<input type="submit" value="Calculate" @onclick="Calculate" class="btn btn-primary" />

	</div>
	<span class="tooltip-container" title="Click to see information message" id="information-icon" @onclick="ShowMessageJS">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
			<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
			<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
		</svg>
	</span>
</div>

<div class="table-responsive mt-5">
	<table class="table table-striped table-hover">
		<thead class="thead-dark">

		</thead>
		<tbody class="tbody">

		</tbody>
	</table>
</div>