@page "/"
@using Subnetting_Calculator.Models;
@inject IJSRuntime JSRuntime

<PageTitle>Subnetting Calculator</PageTitle>

<div id="main-container">
	<div id="base-ip">
		<p>Base IP</p>
		<input type="text" id="base-ip-value"/>
	</div>
	<div id="subnets">
		<div id="subnet-title">
			<p>Subnets</p>
		</div>
		<div id="subnet-container">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					@for(int i = 1; i <= SubnetNumber; i++)
					{
						<tr>
							<td><input type="text" value="LAN @i" /></td>
							<td><input type="number" min="1" class="size"/></td>
						</tr>
					}
				</tbody>
			</table>

		</div>
		<div id="subnet-number">
			<p> Number of subnets</p>
			<input type="number" min="1" @bind="SubnetNumber"/>
		</div>
	</div>
	<div id="submit-btn">
		<p>VLSM</p>
		<input type="checkbox" @bind="Vlsm"/>
		<input type="submit" value="Calculate" @onclick="Calculate"/>
	</div>
	
</div>

<div class="table-responsive">
	<table class="table">
		<thead class="thead-dark">

		</thead>
		<tbody class="tbody">

		</tbody>
	</table>
</div>