@page "/"
@using Subnetting_Calculator.Models;
@inject IJSRuntime JSRuntime

<PageTitle>Subnetting Calculator</PageTitle>

<div id="main-container" class="container border rounded">
	<div id="base-ip" class="row">
		<div class="col-md-3">
			<p>Base IP</p>
		</div>
		<div class="col-md-3">
			<input type="text" id="base-ip-value" />
		</div>
	</div>
	<div id="subnets" class="row">
		<div id="subnet-title" class="col-md-3">
			<p>Subnets</p>
		</div>
		<div id="subnet-container" class="col-md-3">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					@for(int i = 1; i <= SubnetNumber; i++)
					{
						<tr>
							<td><input type="text" value="LAN @i" /></td>
							<td><input type="number" min="1" class="size"/></td>
						</tr>
					}
				</tbody>
			</table>

		</div>
		<div id="subnet-number" class="row">
			<div class="col-md-3">
				<p> Number of subnets</p>
			</div>
			<div class="col-md-3">
				<input type="number" min="1" @bind="SubnetNumber" />
			</div>
		</div>
	</div>
	<div id="submit-btn" class="d-flex flex-column flex-wrap align-content-center">
		<div class="col-3">
			<input type="checkbox" @bind="Vlsm" class="form-check-input"/>
			<label class="form-check-label" for="flexCheckChecked">
				VLSM
			</label>
		</div>
		<input type="submit" value="Calculate" @onclick="Calculate" class="btn btn-primary" />

	</div>
</div>

<div class="table-responsive">
	<table class="table">
		<thead class="thead-dark">

		</thead>
		<tbody class="tbody">

		</tbody>
	</table>
</div>